<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="https://yt3.ggpht.com/-cHMg7kQlNLo/AAAAAAAAAAI/AAAAAAAAAAA/2VoLKNYYLKM/s100-c-k-no-mo-rj-c0xffffff/photo.jpg">
        </a>
      </div>
      <h1><a href="/">KILLBASE</a></h1>
      <a href="/assassins">Assassins | </a>
      <a href="/assassins/new">New Assassin | </a>
      <a href="/contracts">Contracts | </a>
      <a href="/contracts/new">New Contract</a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col col-sm-12">
        <h1> <center>UPDATE ASSASSIN</center></h1>
        <% assassin.forEach(function(assassin) { %>
          <form class="updateForm" action="/assassins/<%=assassin.ass_id%>/?_method=PUT" method="POST">


            <div class="row">
              <div class="col col-sm-4">
                <div class="form-updateAss">
                  <label>Name</label>
                  <input name="full_name" value="<%=assassin.full_name%>">
                </div>

                <div class="form-updateAss">
                  <label>Code Name</label>
                  <input name="code_name" value="<%=assassin.code_name%>">
                </div>

                <div class="form-updateAss">
                  <label>Contact Info</label>
                  <input name="contact_info" value="<%=assassin.contact_info%>">
                </div>

                <div class="form-updateAss">
                  <label>Weapon</label>
                  <input name="weapon" value="<%=assassin.weapon%>">
                </div>

              </div>
              <div class="col col-sm-4">
                <div class="form-updateAss">
                  <label>Age</label>
                  <input name="age" value="<%=assassin.age%>">
                </div>

                <div class="form-updateAss">
                  <label>Price</label>
                  <input name="price" value="<%=assassin.price%>">
                </div>

                <div class="form-updateAss">
                  <label>Rating</label>
                  <input name="rating" value="<%=assassin.rating%>">
                </div>

                <div class="form-updateAss">
                  <label>Kills</label>
                  <input name="kills" value="<%=assassin.kills%>">
                </div>
              </div>

              <div class="col col-sm-4">
                <button type="submit" class="btn
               btn-primary">Submit</button>
              </div>

          </form>
          <% }); %>



            <%- include('./partials/scripts') %>
</body>

</html>
